.label-formLogin,
.label-formLogin a {
    font-size: .9rem !important;
    color: rgb(112, 111, 111) !important;
}

.button-signIn {
    background-color: #1064b3;
    border-radius: 10px;
}

.red {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: rgb(238, 51, 51);
}

.red-border {
    border: 1px solid rgb(238, 51, 51) !important; 
}